body {
    margin: 0;
    font-family: 'Courier Prime', serif;
}

p {
    margin: 0;
    height: 37.5px;
    align-self: center;
    text-align: center;
    width: inherit;
}

img {
    border: solid;
    border-radius: 10px;
    border-color: silver;
    border-width: 7px;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Regular.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}

.topDiv {
    background-color: rgba(134, 1, 1);
    height: 75px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.topTab {
    height: inherit;
    width: 130px;
    background-color: black;
    color: white;
    font-size: 28px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bodyDiv {
    background-image: url('./../img/GalacticMap.png');
    background-size: cover;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.infoDiv {
    background-color: black;
    color: blue;
    height: 740px;
    border-radius: 10px;
    border: solid;
    border-color: silver;
    border-width: 7px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.homeTabDiv {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rnDiv {
    text-align: center;
}

.rcDiv {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rc {
    margin: 0;
    height: 80px;
}
.hoursDiv {
    height: 125px;
}

.homeImage {
    height: 400px;
    width: auto;
}

.menuDiv {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.mealdiv {
    display: flex;
    gap: 25px;
    font-size: 12px;
}

.mealdiv > p {
    height: inherit;
    text-align: left;
}

.contactDiv {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contactHeading {
    text-align: center;
    font-size: 44px;
}

.ownerDiv {
    display: flex;   
    justify-content: center;
    gap: 30px;
}

.ownerbios {
    text-align: left;
    font-size: 20px;
}

.bottomDiv {
    background-color: rgba(134, 1, 1);
    height: 75px;
}